node_modules/
dist/
generated-data/
.env
frontend/node_modules
frontend/dist/
frontend/.env
schedular/node_modules
schedular/dist/
schedular/.env
logs/
*.log
*.tmp
*.bak
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*.swn
*.sln